:root {
    --main-color: #212121;
    --secondary-color: #757575;
    --hero-title-color: #ffffff;
    --footer-item-color: rgba(255, 255, 255, 0.6);
    --logo-color: #2196f3;
    --hero-background-color: #2f303a;
    --button-background-color: #f5f4fa;
    --button-background-hover: #188ce8;
    --typical-margin: 94px;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--main-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}

.list {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.link {
    text-decoration: none;
}
.item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.header {
    padding-top: 24px;
    padding-bottom: 25px;
    outline: 2px dashed #36f495;
    border-bottom: 1px solid #ececec;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--logo-color);
}
.logo-header {
    color: var(--main-color);
}
.menu-item {
    color: var(--main-color);
}
.menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-color);
}
.menu-link:hover,
.menu-link:focus {
    color: var(--logo-color);
}
.contacts-item {
    color: var(--secondary-color);
}
.contacts-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
}
.contacts-link:hover,
.contacts-link:focus {
    color: var(--logo-color);
}
.hero {
    background-color: var(--hero-background-color);
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--typical-margin);
    outline: 2px dashed #f44336;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero-title-color);
    /* max-width: 696px; */
    margin-bottom: 30px;
    padding-right: 235px;
    padding-left: 235px;
}
.hero-btn {
    display: inline-block;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    color: var(--hero-title-color);
    background-color: var(--logo-color);
    border-radius: 4px;
    padding: 10px 32px;
    border: 1px solid transparent;
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--button-background-hover);
}

.about {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-left: 215px;
    margin-right: 215px;
    margin-bottom: var(--typical-margin);
    outline: 2px dashed #6936f4;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.list-item {
    max-width: 270px;
}
.list-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--main-color);
    margin-bottom: 10px;
}
.list-text {
    font-size: 14px;
    line-height: 1.71;
    color: var(--secondary-color);
}
.gallery {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: var(--typical-margin);
    outline: 2px dashed #f44336;
    margin-left: 215px;
    margin-right: 215px;
}
.gallery-title {
    color: var(--main-color);
    margin-bottom: 50px;
}
.team {
    outline: 2px dashed #6936f4;
    padding-top: 94px;
    padding-bottom: 94px;
}
.team-title-main {
    color: var(--main-color);
    margin-bottom: 50px;
}
.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--main-color);
    max-width: 270px;
    margin-bottom: 10px;
}
.team-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--secondary-color);
    margin-bottom: 30px;
}
.team-img {
    margin-bottom: 30px;
}

/* ----------------FOOTER----------------- */

.footer {
    background-color: var(--hero-background-color);
    outline: 2px dashed #36f465;
    padding-top: 60px;
    padding-bottom: 60px;
}
.logo-footer {
    color: var(--hero-title-color);
}
.address {
    margin-top: 30px;
}

.footer-link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--hero-title-color);
}
.footer-item {
    font-size: 14px;
    line-height: 1.71;
    color: var(--footer-item-color);
    margin-bottom: 9px;
}
.footer-link:hover,
.footer-link:focus {
    color: var(--logo-color);
}
.portfolio-btn {
    display: inline-block;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    cursor: pointer;
    color: var(--main-color);
    background-color: var(--button-background-color);
    border-radius: 4px;
    padding: 6px 22px;
    border: 1px solid transparent;
}
.portfolio-button {
    display: inline-block;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    cursor: pointer;
    color: var(--hero-title-color);
    background-color: var(--logo-color);
    border-radius: 4px;
    padding: 6px 22px;
    border: 1px solid transparent;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--hero-title-color);
    background-color: var(--logo-color);
}
.works-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-color);
}
.works-text {
    font-size: 16px;
    line-height: 1.88;
    color: var(--secondary-color);
}

.current {
    color: var(--logo-color);
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    /* text-align: center; */
}
